extends layout
block content
    h1.mt-5 Items-List
        a.btn.btn-warning(href='/admin/items/addItem' style='margin-left: 800px') Add Item
    table.table
        thead
            tr
                th(scope='col') Item name
                th(scope='col') Item-details
                th(scope='col') Price
                th(scope='col') Image-link
        tbody
            each item in items
                tr
                    td
                        a(href='/admin/items/' + item.id)= item.item_title
                    td= item.item_detail
                    td= item.item_price
                    td= item.imageRoute