extends layout

block content
  //h1= title
  each item in items
    //| Item!
    .row
      each val in item
        .col-sm-6.col-md-4
          .thumbnail
            img(src=val.imageRoute, alt='...' class='img-responsive')
            .caption
              h3 #{val.item_title}
              p(class='prod_details') #{val.item_detail}
              p
                div.price.pull-right $#{val.item_price}
                a.btn.btn-primary(href='#' role='button') Add to my Cart

