extends layout

block content
    if  items
        
        .row
            .col-sm-6.col-md-6.col-md-offset-0
                ul.list-group

                    each val in items
                        li.list-group-item
                            span.badge.badge-primary #{val.qty}
                            strong #{val.item.item_title} &nbsp&nbsp&nbsp
                            span.label.label-success $#{val.price} 
                            |   &nbsp&nbsp&nbsp
                            a(href='/remove/' + val.item._id)
                                div.btn-group
                                    button(class='btn btn-warning' type='button') remove
                                

        .row
            .col-sm-6.col-md-6.col-md-offset-0
                strong Total: #{finalPrice}
        hr

        .row
            .col-sm-6.col-md-6.col-md-offset-0
                a(href='../')
                    button.btn.btn-success(type='button') Continue Shopping
            

                button.btn.btn-primary.pull-right(type='button') Checkout

    else

        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                h1 No items in cart          

    