extends ../layout

block content
    h1 Hello there..!
    h2 Thank you for signing up with us on 
        strong ShOp UnLiMiTeD

        h4 This is a one stop shopping e-place to all your daily needs from convenience to Luxury
        
        h4 You can find all categories of Items here.
        h4 Did not find the product you are looking for?
        h4 Please email to mmukundkaujalgi@hawk.iit.edu regarding the product details to be available in future.

        h3 Thank you for choosing us and have a Happy Shopping.!

        h4 Click here & start shopping